/*FOOTER*/
.footer {
    background-color: white;
    font-size: 12px;
}

.footer .contenedor {
    max-width: 300px;
    margin: auto;
}

.footer ul li {
    text-align: center;
    list-style-type: none;
    padding-top: 10%;
}

.footer p {
    margin-bottom: 0px;
}
.contenedor svg {
    width: 2em;
    margin-bottom: 10px;
    display: inline;
}

.icono-svg:hover {
    fill:blue;
  }

.copyright {
    padding: 20px;
}

@media(min-width:769px) {
    .footer .contenedor {
        max-width: unset;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    
    .footer ul{
        display: flex;
    }
    
    .footer ul li {
        max-width: 300px;
        padding-top: 30px;
    }
}