* {
    margin: 0%;
    padding: 0px;
    box-sizing: border-box;
    font-family: "roboto";
}

body {
    background-color: #EAC926;
}

main{
    background-color: #ebebeb;
}

ul {
    padding: 0;
}

li {
    list-style: none;
}



.main {
    padding: 0 5%;
    background-color: #ebebeb;
}

img {
    width: 100%;
    display: block;
}

h2 {
    font-size: 24px;
    margin: 0px;
    padding: 20px 0;
}

.product-desc-box>.product-delivery-icon {
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
    transition: transform 2s;
    display: none;
}
.product-desc-box:hover .product-delivery-icon{
    transform: rotate(-90deg); 
}

.product-desc-box {
    position: relative;
    display: none;
}

.contenedor-productos .precio-productos {
    font-size: 18px;
    width: 30%;
    display: flex;
    justify-content: center
}

.contenedor-productos .descuento-productos {
    color: #39b54a;
    width: 40%;

}

.contenedor-productos .detalle-productos {
    margin-top: 15px;
    color:#808080;
    visibility: hidden;
    
}
.contenedor-productos:hover .detalle-productos{
    visibility: visible;
}

.contenedor-lista-productos ul li p {
    font-size: 16px;
    margin: 0px;
}

.wrapper-contenedor-productos {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.contenedor-productos {
    margin: 0 auto 10px;
    width: 250px;
}

.presentacion-productos {
    background-color: white;
    border-top: solid 1px #ebebeb;
    padding: 20px;
    display: none;
}

.presentacion-productos div {
    display: flex;
    justify-content: space-between;
    
}

.contenedor img {
    width: 2em;
    margin-bottom: 10px;
    display: inline;
}

.copyright {
    padding: 20px;
}




@media(min-width:361px) {

    .contenedor-productos {
        margin-bottom: 10px;
        width: 45%;
    }
    .contenedor-productos:hover{
        box-shadow: 0px 0px 10px rgb(100 100 100);

    }

    .product-desc-box>.product-delivery-icon {
        display: block;
    }

    .product-desc-box {
        display: block;
    }
}

@media(min-width:769px) {
    .contenedor-lista-productos .descuento-productos {
        width: 70%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    
    }
    .contenedor-productos {
        margin-bottom: 10px;
        width: 20%;
    }
    
    
    .product-desc-box>.product-delivery-icon {
        display: block;
    }

    .product-desc-box {
        display: block;
    }
}